/* Main section styling */

.main-image {
  margin: 0.7rem 0.6rem;
}

.main-image {
  img {
    max-height: 50vh;
    min-width: 90%;
    object-fit: cover;
  }
}

.video-main {
  max-width: 100%;
  display: flex;
  justify-content: center;
}

.video-main iframe {
  max-width: 100%;
}

.bio p {
  padding: 2em 1em 1em 2em;
}

.articles {
  background-color: #eeebeb;
  color: rgb(105, 105, 105);
}

h1 {
  font-size: 35px;
}
