nav {
  margin-bottom: 1rem;
}

.logo-img {
  max-width: 40%;
}

.social-container {
  display: flex;
  justify-content: center;
}

// Using extend

.social-media-extend {
  max-width: 30px;
  max-height: 30px;
}

.social-media {
  img {
    @extend .social-media-extend;
    margin: 0.2rem;
  }
}
